body {
  background: #0df;
}

/* header */
header {
  background: #000;
  /* 최대크기 지정, 웹에서만 적용 */
  max-width: 1440px;
  margin: 0 auto;
}

header nav {
  padding: 20px;
  text-align: center;
}
header nav a {
  color: #fff;
  margin: 0 2em;
}

/* title */
#main-title {
  background: #0999;
  width: 100%;
  height: 400px;
  max-width: 1440px;
  margin: 0 auto;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start; */
  padding: 100px 50px;
  background-image: url(../images/title-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* main */
main {
  max-width: 1440px;
  margin: 0 auto;
}
main .container {
  display: flex;
}
main .container article {
  width: 50%;
  border: 1px solid #ccc;
  background: #fff;
  padding: 40px;
}
main .container article:last-child {
  background: #aabdbf;
}
ul li {
  margin-bottom: 10px;
}

#choice {
  padding: 40px;
  background: #fff;
}

/* footer */
